.container{
    width: 250px;
   
    height: 100%;
    z-index: 1;
    transition: 0.3s ease;
    background-color: rgb(250, 250, 250);
    padding:60px 60px ;
    
}
.head{
    color: black;
}
ol{
    width: 100%;
    list-style: none;
}
li a{
    color: #000;
    list-style: none;
    text-decoration: none;
}