.search-container input{    

    margin-top: 40px;
  
    margin-left: 80px;

    /* width: 140px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
   
    background-position: 10px 10px; 
    background-repeat: no-repeat;*/
    padding: 12px 20px 10px 40px; 
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  input{
    background: url("../images/search.jpg");
   
  border-radius:5px;
  border: 1px solid #494646;
  padding: 2% 6%;
 width:140px;
 /* height: 30px; */
  margin: 1% 1%;
  background-size: contain;
  background-repeat: no-repeat;
  outline: 0;
  background-position: 12px;
  background-size: 19px; 
  background-color: rgb(245, 241, 241);
  }